@function p2r($px){
    $rem:16px;
    @return ($px/$rem)+rem;
}
.hello{
    width:p2r(100px);
    height:p2r(100px);
    &.b{
        width:p2r(50px);
        height:p2r(50px);
    }
}
.fix::after{
    content:'';
    display: table;
    clear: both;
}
   $top1:p2r(120px);
.header-page{
    background-color: #7484ca;
    height:p2r(100px);
    overflow:hidden;
}
ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration:none
}
.myNav{
    margin-left:p2r(50px);
    height:p2r(100px);
    line-height: p2r(100px);
}
.myStuff{
    font-size: 2rem;
    float:left;
    margin-left:p2r(40px);
}
.panner{
    width:p2r(1400px);
    margin:0 auto;
    background: rgb(202, 207, 205)
}
.panner-left{
    width:p2r(373px);
    background-color: rgb(225, 146, 205);
    float:left;
}
    
.panner-right{
   background-color: #777777;
   width:p2r(373px);
}
.footer-page{
    height:p2r(50px);
    background-color:#bbffdd;
    text-align:center;
    line-height:p2r(50px); 
}
.searchBar{
    float:right;
    margin-right:p2r(120px);
}
.img-up{
    opacity:0.8;
    filter:alpha(opacity=50); /* 针对 IE8 以及更早的版本 */
}
.img-down {
    position:relative;
}
.myname{
    color:blue;
    font-size: p2r(16px);
}

