ul,li{
    list-style:none;
}
*{
    margin:0;
    padding:0;
}
.fix{
    content:'';
    display: table;
    clear:both;
}
html{
    height:100%
}
.container{
    position:absolute;
    height:100%;
    display:table;/*解决高度溢出部分css样式无效的问题*/
}
.app-icon{
    width:100px;
    height:100%;
    background-color: #1d2531;
    position:relative;
    float:left;
}
.app-icon ul{
    position:fixed;
    left:20px;
}
.app-icon ul li{
    margin-top:20px;
}
.grid{
    position:fixed;
    left:20px;
    bottom:20px;
}
.setting{
    position:fixed;
    left:55px;
    bottom:20px;
}
.main-nav{
    width:250px;
    background-color: #222c3c;
    position:relative;
    float:left;
    height:100%;
}
.main-nav li{
    margin-bottom:25px;
    color:#b7c0cd;
}
.menu{
    width:190px;
    margin:0 auto;
}
.product{
    width:190px;
    margin:0 auto;
    border-top:1px solid #4c5769;
    border-bottom:1px solid #4c5769;
}
.dashboard{
    width:190px;
    margin:0 auto;
}
.month-goal{
    width:190px;
    margin:0 auto;
    color:#fff;
}
.new-message{
    width:35px;
    height:25px;
    border-radius: 10px;
    background-color: #2ca0f7;
    text-align:center;
    color:#fff;
    line-height:25px;
    float:right;
}
.nav-header{
    color:#4c5769;
    margin-top:30px;
    margin-bottom:30px;
}
.product ul img{
    margin:0 auto;
}
.product ul div{
    height:20px;
    width:20px;
    display:inline-block;
    text-align:center;
    margin-right:15px;
}
.nav-setting{
    float:right;
}
.dashboard .chosen{
    color:#fff;
}
.attention{
    height:26px;
    width:26px;
    border-radius:26px;
    background-color: #e03e22;
    color:#fff; 
    float:right;
    text-align:center;
}
.month-goal{
    font-size: 13px;
    position:fixed;
    left:130px;
    bottom:40px;
}
.goal-done{
    font-weight:600;
}
.progress-bar{
    width:190px;
    height:5px;
    border-radius:3px;
    position:fixed;
    left:130px;
    bottom:20px;
    background-color: #2d3848;
}
.progress-done{
    width:40px;
    height:5px;
    border-radius:3px;
    background: linear-gradient(to right,#805be6 , #9287d4);
}
.message-container{
    height:100%;
    width:100%;
    float:right;
    margin-left:-350px;
}
.message-content{
   margin-left:350px;  
}
.content-admin{
    width:240px;
    height:70px;
    background-color: #fff;
    position:fixed;
    right:0;
    top:0;
    z-index:1;
}
.message-header{
    width:100%;
    height:80px;
    border-bottom:1px solid #e6e9ec;
    position:relative;
    line-height:80px; 
}
.message-header p{
    font-size:20px;
    margin-left:30px;
}
.admin-face{
    position:fixed;
    right:185px;
    top:15px;
    z-index:2;
}
.admin-name{
    position:fixed;
    right:70px;
    top:15px;
    z-index:2;
}
.admin-info{
    position:fixed;
    right:30px;
    top:40px;
    z-index:2;
}
.name{
    color:#2399f1;
    font-size:17px;
} 
.admin{
    color:#b5b5b5;
    font-size:15px;
} 
.message-left{
    width:400px;
    height:100%;
    float:left;
    position:relative;
}
.search-bar{
    width:401px;
    height:70px;
    border-bottom:1px solid #e6e9ec;
    border-right:1px solid #e6e9ec;
    line-height: 70px;
    text-align:center;
}
.search-button{
    width:340px;
    height:34px;
    background: url(../day12-15/images/Search-icon.png) no-repeat 95% center;
    border:1px solid #e6e9ec;
}
.left-info{
    height:130px;
    border-bottom:1px solid #e6e9ec;
    position:relative;
}
.blue-dot{
    height:10px;
    width:10px;
    border-radius: 5px;
    background-color:#00aaff;
    position:absolute;
    top:28px;
    left:95px;
}
.signed-message{
    height:25px;
    width:25px;
    border-radius: 13px;
    background-color:#00aaff;
    text-align:center;
    line-height: 25px;
    position:absolute;
    right:22px;
    bottom:28px;
}
.left-info img{
    margin-top:16px;
    margin-left:30px;
}
.message-origin{
    position:absolute;
    top:48px;
    left:95px;
    color:#c4c4c4;
}
.name-off{
    position:absolute;
    top:22px;
    left:95px;
    color:#585d68;
    font-weight:600;
}
.name-on{
    position:absolute;
    top:22px;
    left:110px;
    color:#00aaff;
    font-weight:600;
}
.left-info p{
    position:absolute;
    top:75px;
    left:30px;
}
.last-date{
    position:absolute;
    top:30px;
    right:22px;
    color:#99a5b6
}
.message-actived{
    padding-right:60px;
}
.message-right{
    float:right;
    margin-left:-401px;
    width:100%;
}
.right-inner{
    margin-left:401px;
}
.message-index{
    height:70px;
    border-bottom:1px solid #e6e9ec;
    overflow: hidden;
    line-height: 70px;
    position:relative;
}
.right-name{
    font-weight:600;
    font-size:16px;
    color:#585d68;
    position:absolute;
    left:30px;
}
.green-dot{
    height:10px;
    width:10px;
    border-radius: 5px;
    background-color:#1bb934;
    position:absolute;
    top:30px;
    left:140px;
}
.tools{
    width:108px;
    height:30px;
    border:1px solid #e6e9ec;
    position:absolute;
    top:15px;
    left:340px;
    text-align:center;
    line-height:30px;
    background-image: linear-gradient(to bottom,#fff,#f2f4f7);
}
.tools div{
    width:35px;
    height:30px;
    float:left;
}
.tools-upload{
    border-left:1px solid #e6e9ec;
    border-right:1px solid #e6e9ec;
}
.arrows-number{
    position:absolute;
    left:500px;
}
.arrows{
    width:70px;
    height:30px;
    border:1px solid #e6e9ec;
    position:absolute;
    top:15px;
    left:575px;
    text-align:center;
    line-height:30px;
    background-image: linear-gradient(to bottom,#fff,#f2f4f7);
}
.arrows-left-box{
    width:34px;
    height:30px;
    border-right:1px solid #e6e9ec;
    float:left;
}
.arrows-right-box{
    width:34px;
    height:30px;
    float:right;
}
.left-arrow{
    height:0;
    width:0;
    border:7px solid;
    border-color:transparent #ced0da transparent transparent;
    position:relative;
    left:6px;
    top:9px;
}
.right-arrow{
    height:0;
    width:0;
    border:7px solid;
    border-color:transparent transparent transparent #ced0da;
    position:relative;
    left:13px;
    top:9px; 
}
.right-info{
    height:33%;
    border-left:1px solid #e6e9ec; 
    overflow: hidden;
}
.devide-old{
    display:flex;
    padding-top:30px;
    padding-bottom:5px;
    border-left:1px solid #e6e9ec; 
}
.devide-old-line{
    height:15px;
    width:45%;
    border-top:1px solid #e6e9ec; 
}
.devide-old-middle{
    position:relative;
    bottom:12px;
    margin-left:15px;
    margin-right:15px;
}
.devide-new{
    display:flex;
    padding-top:30px;
    padding-bottom:5px;
    border-left:1px solid #e6e9ec; 
}
.devide-new-line{
    height:15px;
    width:40%;
    border-top:1px solid #4fadf4; 
}
.devide-new-middle{
    position:relative;
    bottom:12px;
    color:#4fadf4;
    margin-left:10px;
    margin-right:10px;
}
.name-style{
    color:#585d68;
    font-weight:600;
}
.guest-face,.host-face{
    float:left;
    margin-right:20px;
}
.message-bfc{
    overflow:hidden;
}
.guest-top{
    padding-top:30px;
}
.guest-message{
    margin-left:30px;
}
.admin-message{
    margin-top:30px;
    margin-left:25px;
}
.photo-left{
    width:155px;
    height:100px;
    border-radius:5px;
    margin-left:78px;
    margin-top:20px;
    background-image: url(../day12-15/images/Photo.png);
    float:left;
}
.photo-right{
    width:155px;
    height:100px;
    border-radius:5px;
    margin-left:13px;
    background-image: url(../day12-15/images/Photo1.png);
    margin-top:20px;
    float:left;
}
.open{
    opacity: .6;
    visibility: hidden;
}
.photo-left:hover .open{
    visibility: visible;
}
.photo-right:hover .open{
    visibility: visible;
}
.repeat-bar{
    width:600px;
    height:55px;
    border:1px solid #e6e9ec;
    margin-left:30px; 
    margin-top:30px;
    text-align:center;
    line-height:55px;
    margin-bottom:30px;
}
.add-message{
    width:55px;
    height:55px;
    text-align:center;
    line-height:55px;
    float:left;
    background-image: linear-gradient(to bottom,#fff,#f2f4f7);
}
.writing-icon{
    position:relative;
    top:5px;
}