<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .left{
            position:absolute;
            width:200px;
            height:100%;
            background-color:blue;
        }
        .middle{
            position:absolute;
            margin-left:200px;
            width:200px;
            height:100%;
            background-color:yellow;
        }
        .right{
            margin-left:400px;
            background-color:red;
        }
    </style>
</head>
<body>
    <div class="left">left<p>this is the song for broken heart .made of god .the worlds we were. i w when you feel my heat.</p></div>
    <div class="middle">middle<p>this is the song for broken heart .made of god .the worlds we were. i w when you feel my heat.</p></div>
    <div class="right">right<p>this is the song for broken heart .made of god .the worlds we were. i w when you feel my heat.</p></div>
   
</body>
</html>