
html{
    background:#aaa;
}
span{
    font-weight: 600;
    display:inline-block;
    margin-left:4%;
}
h3{
    font-size:22px;
}
h1{
    display:inline-block;
    margin-top:50px;
}
h3,h2{
    display:block;
    margin-left:30px;
}
span{
    display:inline-block;
    margin-left:30px;
}
body{
    width:1000px;
    margin: 0 auto;
    overflow:auto;
}
.left{
    float:left;
    width:20%;
    background-color:rgb(115, 164, 230);
    height:800px;
    text-align: center;
}
.right{
    width:80%;
    height:800px;
    float:left;
    background-color:#fff;
}
.biggersize{
    display:block;
}
