
h1{ 
    width:100%;
    display:block;
    font-size:25px;
    margin-left:10px;
}
.left{
    background-color:rgb(85, 97, 86);
    height:50px;
    line-height:50px;
}
.right{
    overflow: hidden;
}
h3,h2{
    font-size:14px; 
}
body{
    width:80%;
    margin: 0 auto;
}
.head{
    float:left;
    width:10%;
    height:80px;
    background-color:#bbb;
    text-align:center;
    border-bottom: 1px solid #fff;
    line-height: 50px;
    margin-right:10px;
   
}
.back{
    height:80px;
    border-right:1px solid #aaa;
    border-bottom:1px solid #aaa;
    font-size:13px;
}
.biggersize{
    font-weight:600;
    display:block;
    float:left;  
}
