<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .left{
            position:absolute;
            left:0;
            width:30%;
            height:100%;
            background-color:blue;
        }
        .right{
            margin-left:30%;
            width:70%;
            height:100%;
            background-color:red;
        }
    </style>
</head>
<body>
    <div class="left">left</div>
    <div class="right">right</div>
</body>
</html>